.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    list-style: none;
    margin: 0; 
    background: #CB8DFF;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  
  .navigation a:hover {
    background: #B25EF8;
  }

@media all and (max-width: 800px) {

    .navigation {
        
        justify-content: space-around;
    }

}

@media all and (max-width: 500px) {
    .navigation {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
      padding: 0;
    }

    .navigation a { 
        text-align: center; 
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3); 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
      }
      .navigation li:last-of-type a {
        border-bottom: none;
      }
  }


.center {
    display: flex;
    justify-content: center;
  }


