{% load static %}

<!DOCTYPE html>

<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="{% static 'resume/home.css' %}">
</head>

<body>
  <div class="menu-container">

  <ul class="navigation">

    <li><a href = "{% url 'index' %}">Home Page</a></li>
    <li><a href = "{% url 'resume' %}">Resume Page</a></li>
    <li><a href = "{% url 'poll_index' %}">Polls Page</a></li>
     
  </ul>
    
  </div>

  <div class="menu-container">
    <h1 id="header" class="center">Nandini Pande</h1>
    <h3>Hi! I am a high school developer planning to study computer science. I have experience creating a variety of different projects. Feel free to check them out!</h3>
  </div>


<div id="box">

<div><img src="{% static 'resume/finalwel (2).jpg' %}" alt="Welcome!" width="900" height="500" id="box"></div>

</div>
<p>Welcome to my website! I built this website all by myself using Django. It's not still finished yet, but I've been working on it 
  for a month or two by now. I still haven't decided on the "point" of this website, so for now there might be a mixture of professional stuff
  (like my resume) and some fun lists (maybe I'll rank all the Smash Bros. characters? Who knows?). Make sure to watch my Github Repository for updates!
</p>


<script src="{% static 'resume/home.js' %}"></script>
<script src="{% static 'resume/confetti.js' %}"></script>
  <script>
    const start = () => {
      setTimeout(function(){
        confetti.start();
      });
    };

    const stop = () => {
      setTimeout(function(){
        confetti.stop()
      })
    }

    start();
  </script>
</body>

</html>
