{% load static %}

<!DOCTYPE html>

<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="{% static 'resume/resume.css' %}"
</head>

<body>
  <div class="menu-container">
    <ul class="navigation">

        <li><a href = "{% url 'index' %}">Home Page</a></li>
        <li><a href = "{% url 'resume' %}">Resume Page</a></li>
        <li><a href = "{% url 'poll_index' %}">Polls Page</a></li>
         
      </ul>
  </div>
  <div>
    <h1 id="header">Resume Page</h1>
  </div>

  <script src="{% static 'resume/home.js' %}"></script>
</body>

</html>
