{% load static %}

<!DOCTYPE html>

<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="{% static 'resume/resume.css' %}"
</head>

<body>
  <div class="menu-container">
    <ul class="navigation">

        <li><a href = "{% url 'index' %}">Home Page</a></li>
        <li><a href = "{% url 'resume' %}">Resume Page</a></li>
        <li><a href = "{% url 'poll_index' %}">Polls Page</a></li>
         
      </ul>
  </div>
  <div>
    <h1 id="header">Resume Page</h1>
  </div>

  Alright, so not to brag here but here of some of my acheivements:

  <p><b>Technical Skills</b></p>
  <ul>

    <li>Python</li>
    <li>Javascript</li>
    <li>Java</li>
    <li>Labview</li>
  </ul>

<b>Nontechnical Skills</b>

<ul>
    <li>I know two languages other than English, French and Hindi</li>
    
</ul>

<b>Education</b>

<p>I currently attend Highland High School, where I am a senior. Some of my relevant scores and coursework include:</p>

<ul>

    <li>A 5 on AP Computer Science Principles.</li>
    <li>A 5 on AP Calculus AB</li>
    <li>A 5 on AP Statistics</li>
    <li>A 4 on AP Computer Science A (it was a self study)</li>
</ul>

<p>I also have a weighted GPA of around 4.5</p>

<b>Extracurriculars</b>

<ul>
<li>Speech and Debate (state qualifier)</li>
    <li>Cross Country</li>
    <li>Robotics (top 8 in the region)</li>
    <li>NHS</li>
    <li>SADD</li>
    <li>Junior Leadership of Medina County</li>
    <li>Outside of school, I do hackathons.</li>
    
</ul>

Interested in my projects? Check out my Devpost <a href = "https://devpost.com/nandinimp?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav">here</a>. 
<p>Want to see how I made this project? Check out the code for this website <a href = "https://github.com/pandenandini88/Summer-Project">here</a>. </p>

</body>





  <script src="{% static 'resume/home.js' %}"></script>
</body>

</html>
